body{
    font-size: 14px;
    font-family: arial;
    font-height: 23px;
    background: #029ef3;
}
h1#page-title{
    font-size: 18px !important; 
    padding: 0px 0px 20px;
    font-weight: bold;
}
#wp-form-login{
    width: 265px;
    background: #fdfdfd;
    border-radius: 3px;
    padding: 30px 20px 20px 20px;
    margin: 150px auto;
    text-align: center;
}

#form-login #username,#form-login #password, #form-login #email, #form-login #fullname  {
    display: block;
    padding: 10px 10px;
    width: 100%;
    margin-bottom: 9px;
    background: #f7f7f7;
    border: none;
    outline: none;
}
#form-login #btn-login{
    display: block;
    width: 100%;
    background: #029ef3;
    border: none;
    color: #fff;
    padding: 10px 0px;
    margin: 15px 0px 10px;
    cursor: pointer;
}

#lost-pass{
    text-decoration: none;
    color: #67a0b7;
}

p.error{
    font-size: 13px;
    color: red;
}

#checkbox{
    display: inline-block;
    margin-left: 0px;
}
